<?xml version='1.0' encoding='utf-8'?>
<widget xmlns="http://www.w3.org/ns/widgets" id="https://addons.opera.com/extensions/details/download-chrome-extension/" version="1.1" defaultlocale="en" href="https://addons.opera.com/extensions/details/download-chrome-extension/">
  <name>Download Chrome Extension</name>
  <author href="http://my.opera.com/metude/">metude (metude@myopera.com)</author>
  <icon src="images/icon_64.png"/>
  <feature name="opera:contextmenus" required="true"/>
  <license href="http://www.opensource.org/licenses/mit-license.php">Licensed under the MIT license</license>
  <update-description href="https://extension-updates.opera.com/api/w3c-wd1/update/f0f14fab-4cdb-48e6-9d6e-10e7f10fde62/"/>
  <description xml:lang="en">Download Google Chrome Extensions from Web Store.</description>
  <description xml:lang="tr">Google Chrome Uzantılarını Web Store'dan indirin.</description>
</widget>

<!-- 
27.11.2012 - added icon to menu entry.
 
   -->
